{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>aaaaaaaa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static '/bootstrap-4.4.1-dist/css/bootstrap.min.css' %}" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">知数堂</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">留言板 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://ke.qq.com/course/1650906?tuin=34432a0f" target="_blank">知数堂公开课：实战Django的留言版设计到部署 本周四晚上8点30分</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Python课程" aria-label="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<main role="main" class="container" style="padding-top: 80px;">
    <!-- 返回留言结果。对应views.py中 django.contrib.messages 模块自动生成的`messages`变量 -->
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-primary" role="alert">
          {{ message }}
        </div>
        {% endfor %}
    {% endif %}
        <!-- 表单，提交到 views.py -->
        <!-- 根据action="{% url 'index' %}" 中的`index`，在urls.py中找到 path('index/', views.index, name='index') 中配置的`views.index`-->
        <form method="post" action="{% url 'index' %}">
            <!-- 调用Djongo form方法必须写 csrf_token-->
            {% csrf_token %}
            <div class="form-group">
                <label for="nickname_input">昵称</label>
                <input type="text" maxlength="64" name="username" class="form-control" id="nickname_input" placeholder="用户名">
            </div>

            <div class="form-group">
                <label for="comment_input">留言</label>
                <textarea class="form-control" name="content" id="comment_input" rows="3" maxlength="65535" placeholder="请文明留言"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">提交</button>
            </div>
        </form>

        {% if message_list %}
            <!-- 展示留言：循环 message_list，生成表单，message_list对应views.py中的message_list -->
            {% for message in message_list %}
                <div class="card" style="margin-top: 10px;">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{message.username}}
                            <span class="text-muted" style="font-size: 0.9rem">
                                {{message.create_time | date:'Y-m-d H:i:s'}}
                            </span>
                        </h5>
                        <p class="card-text">留言：{{ message.content|safe }}</p>
                    </div>
                </div>
            {% endfor %}
        <!-- 没有留言时默认展示 -->
        {% else %}
            <p>还没有人发表留言。</p>
        {% endif %}
</main><!-- /.container -->

<footer class="text-center" style="margin-top: 10px">
<a href="http://www.beian.miit.gov.cn/" target="_blank">备案号：浙ICP备14008409号-2</a>
</footer>

<script src="{% static '/jslib/jquery.min.js' %}"></script>
<script src="{% static '/jslib/popper.js' %}"></script>
<script src="{% static '/bootstrap-4.4.1-dist/js/bootstrap.min.js' %}"></script>

</body>
</html>